<div>
    <div class="container">
        <div class="text-center">
            

            <!-- items being paged -->
            <div *ngFor="let item of pagedItems">{{item.key}} {{item.value}}</div>

            <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                
               
                
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                
            </ul>
        </div>
    </div>
    <hr />
    
</div>