<div class="middlecontainer-topactions">
    <a href="#" class="fLeft">
      <strong>Customer Transactions</strong>
    </a>
  </div>
  <div class="panel panel-default middlecontainer">
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <div class="col-lg-1">
            <a [routerLink]="['/routePath']" class="btn btn-default">Report View</a>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-1">
            <a [routerLink]="['/routePath']" class="btn btn-default">
              <b>></b>
            </a>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="RowsDisplay">Row 1 of 4 *</label>
        </div>
        <div class="form-group">
          <input type="checkbox" value="">
          <label class="control-label" for="Company">Exclude Null Value*</label>
        </div>
        <div class="form-group">
          <input type="checkbox" value="">
          <label class="control-label" for="Company">Displayed Columns*</label>
        </div>
      </form>
      <div class="row">
        My New Data Row.
      </div>
    </div>
  </div>